images
videos
Briefly-about-YOLO-3.pdf
Downloading-images-from-huge-dataset.pdf
Joining-datasets-for-training-Labelled-Custom.pdf
Labelled-image-in-YOLO-format.pdf
Preparing-files-for-training-Labelled-data.pdf
Transform-video-into-set-of-images.pdf
Useful-resource-for-labelling.pdf